* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
body.active {
    background: #0b0b0b;
}
header{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
h1{
    font-size: 2rem;
}
h1.active{
    color: #eaeaea;
}
nav{
   
    background-color: rgb(244, 241, 237);
}
nav li{
    display: inline-block;
}
nav li a{
    font-size: 3em;
    padding: 2.3em;
    text-decoration: none;
} 
nav .active{
    background-color: rgba(5, 215, 252, 0.852);
} 
.hero{
    position: relative;
}
.hero img{
    width: 100%;
    height: auto;
    display: block;
}
.hero span{
    position: absolute;
    bottom: 35%;
    left: 0;
    width: 100%;
    right: 0;
    text-align: center;
    padding: 20px; /* Espaciado interno */
    background-color: rgba(255, 255, 255, 0.499); /* Fondo blanco */
    color: #060003; /* Texto  */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 30px;  
    font-weight: bold; 
}
h1{
    color: #415541;
    text-align: center;
    font-family: 'roboto', serif;
}
.parent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.card {
    border: 1px solid #415541;
    background-color: #c9f5e9;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
  }
  
  .card h2 {
    background-color: #415541;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
    font-size: 2em;
  }
  
  .navi ul {
    list-style-type: none;
    padding: 0; /* Eliminar el relleno predeterminado de la lista */
  }
  
  .navi li {
    padding: .5rem;
  }
  
  .navi a {
    display: block;
    color: black;
    text-decoration: none;
    font-family: 'roboto', serif;
    font-size: 2em;
    font-weight: bold;
  }
  
  .navi a:hover {
    background-color: rgba(64, 93, 73, 0.672);
  }
  #visit-counter{
    display: block;
    color: black;
    text-decoration: none;
    font-family: 'roboto', serif;
    font-size: 2em;
    font-weight: bold;
  }

  footer{
    background: #A3A2DF;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px; 

  }
  footer p{
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
  }
#toggle {
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    border-radius: 160px;
    background: #222;
    transition: 0.5s;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  }
  #toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #444, #222);
    cursor: pointer;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), 
        inset 0 4px 4px rgba(255, 255, 255, 0.2),
        inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    transition: 0.5s;
  }
  #toggle.active {
    background: rgba(7, 165, 239, 0.8);
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  }
  #toggle.active .indicator {
    left: 45px;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  }
  iframe{
    display: block ;
    margin: 0 auto;
  }